<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<nav aria-label="Page navigation" id="pagination">
    <ul class="pagination" th:if="${msg==null}">
        <li>
            <a th:href="@{${address}+1}" aria-label="Previous" th:if="${pagination.showFirstPage}">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li>
            <a th:href="@{${address}+${pagination.page-1}}" th:if="${pagination.showPrevious}" aria-label="Previous">
                <span aria-hidden="true">&lt;</span>
            </a>
        </li>
        <li th:each="page : ${pagination.pages}"  th:class="${pagination.page==page}?'active':''">
            <a th:href="@{${address}+${page}}">[[${page}]]</a>
        </li>
        <li>
            <a th:href="@{${address}+${pagination.page+1}}" th:if="${pagination.showNext}" aria-label="Previous">
                <span aria-hidden="true">&gt;</span>
            </a>
        </li>
        <li>
            <a th:href="@{${address}+${pagination.totalPage}}" th:if="${pagination.showEndPage}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
</body>
</html>