<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>发布</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="css/comm.css"/>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:replace="index :: #top"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true">发起</span></h2>
            <hr/>
            <form action="/publish" method="post">
                <div class="form-group">
                    <label for="title">问题标题（简单扼要）</label>
                    <input type="text" class="form-control" th:value="${title}" id="title" name="title"
                           placeholder="问题标题...">
                </div>
                <div class="form-group">
                    <label for="title">问题补充（必填，请参照右侧提示）</label>
                    <textarea name="description" id="description" class="form-control" cols="30"
                              rows="10" th:text="${description}"></textarea>
                </div>
                <div class="form-group">
                    <label for="title">添加标签</label>
                    <input type="text" class="form-control" name="tag" id="tag" th:value="${tag}"
                           placeholder="输入标签，以逗号分隔">
                </div>
                <h2><span style="color: red;" th:if="${error} != null" th:text="${error}"></span></h2>
                <button type="submit" class="btn btn-success btn-publish">发布</button>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12"><h2>问题发起指南</h2>只可意会不可言传...</div>
    </div>
</div>

</body>
</html>